<div class="row">
	<div class="col-xs-2 header">
		<h3>New Search Ideas</h3>
		<% @name.each do |u| %>
		<%= u.name %></br>
		<% end %>

	</div>
	<div class="col-xs-7">
     <table class="table-striped">
      <% count = 0 %>
      <% @matches.each do |m| %>



      <tr><th>Recipe Name</th><th class="centerthis">Photo</th><th>Ingredients</th><th class="centerthis">Cook Time</th></tr>
      <td class="col-xs-4"><h3><%= link_to m["recipeName"], edit_search_path(m["id"]) %></h3></td>
      <% image_url = m['imageUrlsBySize'] %>
      <% count = count + 1 %>
      <% actual_image_url = image_url['90'] %>

      <td class="col-xs-2"><%= image_tag(actual_image_url) %></td>

      <td><% m["ingredients"].each do |i| %>
       <%= i %>,
       <% end %></td>
       <% s = m["totalTimeInSeconds"] %>
       <% time = s.to_i / 60 %>
       <td class="centerthis"><%= time %> minutes</td>
    </tr>



 <% end %>
 </table>
</div>

<div class="col-xs-3">
   <%= image_tag('ramps.png') %>
   <p class="centerthis">We are still in development, please mind our errors<p>
   <%= image_tag('roastedredpeppersaladwithcapersandbasil.png') %>
   <p class="centerthis">Thanks for Visiting</p>
   <%= image_tag('cauliflower.png') %>

</div>
</div>